# A * ensures that everything will be ignored.
#*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
README.md

# Ignore folders.
.storage
.cloud
.git
esphome
tts
node-red
icloud
www
._home-assistant.log

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
._*
ip_bans.yaml
secrets.yaml
known_devices.yaml
google_calendars.yaml
sabnzbd.conf
plex.conf
.ios.conf
.spotify-token-cache
.uuid
home-assistant.log
.google.token
._automations.yaml
._configuration.yaml
._customize.yaml
._floorplan.yaml
._frontend.yaml
._google_calendars.yaml
._groups.yaml
._input_select.yaml
._intent.yaml
._ip_bans.yaml
._known_devices.yaml
._panel_custom.yaml
._scripts.yaml
._sensors.yaml
._themes.yaml
._ui-lovelace.yaml
._zones.yaml
.DS_Store
._.DS_Store
._.gitignore
._plex.conf
._sabnzbd.conf
google_calendars.yaml
._secrets.yaml
.pip_progress
._MultiRoom.sh
._floorplan.html
._spotify_controls.yaml
._hacs
._plants.yaml
*.log
*.confapplication/cache
._README.md
