# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md

# Ignore folders.
.storage
.cloud
.google.token
esphome
tts
node-red
icloud

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
google_calendars.yaml
sabnzbd.conf
plex.conf
.ios.conf
.spotify-token-cache
.uuid
home-assistant.log
._automations.yaml
._configuration.yaml
._customize.yaml
._floorplan.yaml
._frontend.yaml
._google_calendars.yaml
._groups.yaml
._input_select.yaml
._intent.yaml
._ip_bans.yaml
._known_devices.yaml
._panel_custom.yaml
._scripts.yaml
._sensors.yaml
._themes.yaml
._ui-lovelace.yaml
._zones.yaml
