# A * ensures that everything will be ignored.
#*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
README.md

# Ignore folders.
.storage
.cloud
.git
esphome
tts
node-red
icloud
www
._home-assistant.log

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
._*
*.conf
ip_bans.yaml
secrets.yaml
known_devices.yaml
google_calendars.yaml
.shopping_list.json
.spotify-token-cache
.uuid
home-assistant.log
.google.token
.DS_Store
.pip_progress
*.log
*.confapplication/cache
Agent